
/* Your CSS Code here. */

.holder{
	height:200px;
	display:grid;
	grid-template-columns:repeat(2,100px);
	border:2px solid black;
	
}
.item{
	border:2px solid black;
}

.item-1{
	background:yellow;
}
.item-2{
	background:navy;
}
.item-3{
	background:blueviolet;
}
.item-4{
	background:orangered;
}